{% include header %}


<h2>Solar-powered balloons</h2>
<p>Solar balloon is made from thin black plastic film. When filled with air on a sunny day, the sun starts heating up the air inside the balloon. Warm air is lighter than surrounding colder air and balloon starts to rise.</p>
<img src="/static/img1_rs.jpg">
<p>Solar balloons can be made from ordinary thrash bags, taped together to form a shape capable of holding enough air inside to produce lift. We usually make our balloons as <a href="http://en.wikipedia.org/wiki/Tetrahedron">tetrahedrons</a>, to minimize number of seems that need to be taped.</p>
<img src="/static/img3_rs.jpg">
<p>Solar balloons can rise to over 20 000 meters of altitude, and stay in the air as long as the sun is heating the balloon up. To see how far a balloon can fly in a day, we attach a postcard with date and location of launch, and then let the balloon loose on a sunny morning.</p>
<p><a href="/{{ lang }}/found">If you found one of our balloons, please let us know where and when it landed!</a></p>
<img src="/static/img2_rs.jpg">

{% include footer %}