{% include header %}


<h2>Свържете се с нас</h2>

<p>Ако имате някакви въпроси за слънчевите балони, не се колебайте да се свържете с нас с помощта на формуляра по-долу.<p>
<p>&nbsp;<p>
<p>
<form method="post" action="contactdone">
<table>
<tr valign="top">
<td>
<span class="emph">Име</span>
</td>
<td><input type="text" name="Name" size="50"></td>
</tr>
<td>
<span class="emph">Е-mail</span>
</td>
<td><input type="text" name="Email" size="50"></td>
</tr>
<tr valign="top">
<td>
<span class="emph">Съобщение</span>
</td>
<td><textarea name="Message" rows=10 cols="40"></textarea></td>
</tr>
<tr valign="top">
<tr align="right">
<td colspan="2"><input type="submit" name="OK" value="Изпрати"></td>
</tr>
</table>
</form>
</p>


{% include footer %}