{% include header %}


<h2>Balóny nadlehčované sluncem</h2>
<p>Solární balón je vyroben z tenké černé neprodyšné fólie. Pokud je balón za slunečného dne naplněn vzduchem, slunce dopadající na tmavý povrch balónu začne zahřívat vzduch uvnitř. Zahřátý vzduch je lehčí, než chladnější vzduch okolo a balón začne stoupat.</p>
<img src="/static/img1_rs.jpg">
<p>Solární balón lze vyrobit z techkých pytlů na odpadky, které jsou navzájem slepeny kvalitní lepící páskou tak, aby vytvořily tělo balónu. Naše balóny vyrábíme většinou ve tvaru <a href="http://www.qss.cz/notes/archive/month-2007-02.shtml#177">trojbokého jehlanu</a>, abychom minimizovali množství švů, které je třeba slepit.</p>
<img src="/static/img3_rs.jpg">
<p>Solární balón může vystoupat do výšky více než 20 kilometrů a zůstat ve vzduchu tak dlouho, dokud na něj svítí slunce. Abychom zjistili, jak daleko může balón během jednoho dne doletět, připevňujeme k balónům pohlednici - předtím, než je na slunečného rána vypustíme - obsahující datum a místo startu.</p>
<p><a href="/{{ lang }}/found">Pokud jste našli jeden z našich balónů, dejte nám vědět, kdy a kde to bylo!</a></p>
<img src="/static/img2_rs.jpg">

{% include footer %}