{% include header %}


<h2>Napište nám</h2>

<p>Pokud máte jakékoli otázky týkající se solárních balónů, napište nám přes formulář na této stránce.<p>
<p>&nbsp;<p>
<p>
<form method="post" action="contactdone">
<table>
<tr valign="top">
<td>
<span class="emph">Vaše jméno</span>
</td>
<td><input type="text" name="Name" size="50"></td>
</tr>
<td>
<span class="emph">Váš e-mail</span>
</td>
<td><input type="text" name="Email" size="50"></td>
</tr>
<tr valign="top">
<td>
<span class="emph">Zpráva</span>
</td>
<td><textarea name="Message" rows=10 cols="40"></textarea></td>
</tr>
<tr valign="top">
<tr align="right">
<td colspan="2"><input type="submit" name="OK" value="Odeslat"></td>
</tr>
</table>
</form>
</p>


{% include footer %}