{% include header %}


<h2>Get back to us</h2>

<p>If you have any questions about solar balloons, feel free to contact us using the form below.<p>
<p>&nbsp;<p>
<p>
<form method="post" action="contactdone">
<table>
<tr valign="top">
<td>
<span class="emph">Your name</span>
</td>
<td><input type="text" name="Name" size="50"></td>
</tr>
<td>
<span class="emph">Your e-mail</span>
</td>
<td><input type="text" name="Email" size="50"></td>
</tr>
<tr valign="top">
<td>
<span class="emph">Message</span>
</td>
<td><textarea name="Message" rows=10 cols="40"></textarea></td>
</tr>
<tr valign="top">
<tr align="right">
<td colspan="2"><input type="submit" name="OK" value="Submit"></td>
</tr>
</table>
</form>
</p>


{% include footer %}