{% include header %}

<h2>List of flights</h2>
<table>
<tr class="emph">
<td>Balloon Name</td><td>Date launched</td><td>Launch Location</td><td>Date Found</td><td>Location Found</td><td>Distance Covered</td>
</tr>
{% for flight in flights %}
<tr>
<td>
{% if flight.notes %}
<a href="{{ flight.notes }}">{{ flight.name }}</a>
{% else %}
{{ flight.name }}
{% endif %}
</td>
<td>
{{ flight.date_launch|date:"d/n/Y H:i" }}
</td>
<td>
{{ flight.location_launch }}
</td>
<td>
{{ flight.date_landed|date:"d/n/Y H:i" }}
</td>
<td>
{{ flight.location_landed }}
</td>
<td>
{% if flight.distance %}
{{flight.distance|stringformat:"s km" }}
{% else %}
{% endif %}
</td>
</tr>
{% endfor %}
</table>

{% include footer %}