{% include header %}


<h2>Балон задвижван от слънцето</h2>
<p>Слънчевият балон е направен от много тънък черен наилон. Напълваме го с въздух някоя слънчева сутрин, за да може слънцето да загрее въздуха в него. Топлият въздух е по-лек от заобикалящия го студен въздух и балонът започва да се издига.</p>
<img src="/static/img1_rs.jpg">
<p>Слънчевите балони се правят от обикновени торби за отпадъци залепени с тиксо така, че в обема, който затварят, да има въздух, достатъчен за създаването на необходимата подемна сила. Обикновено нашите балони са <a href="http://bg.wikipedia.org/wiki/Тетраедър">тетраедри</a>, защото се изработват най-лесно и броят на залепванията е минимален.</p>
<img src="/static/img3_rs.jpg">
<p>Слънчевите балони могат да се издигнат над 20 000 метра н.в. и остават във въздуха, докато слънцето ги нагрява.
За да видим колко надалеч един такъв балон може да стигне за един ден, към него прикачваме картичка с датата и мястото на излитане и пускаме балона свободно да се издига.</p>
<p><a href="/{{ lang }}/found">Ако сте намерили някой от нашите балони, моля, напишете ни кога и къде е кацнал!</a></p>
<img src="/static/img2_rs.jpg">

{% include footer %}