{% include header %}


<h2>Contactez-nous</h2>

<p>Si vous avez des questions sur les ballons solaires, n'hésitez pas à nous contacter en utilisant le formulaire ci-dessous.<p>
<p>&nbsp;<p>
<p>
<form method="post" action="contactdone">
<table>
<tr valign="top">
<td>
<span class="emph">Votre nom</span>
</td>
<td><input type="text" name="Name" size="50"></td>
</tr>
<td>
<span class="emph">Votre e-mail</span>
</td>
<td><input type="text" name="Email" size="50"></td>
</tr>
<tr valign="top">
<td>
<span class="emph">Message</span>
</td>
<td><textarea name="Message" rows=10 cols="40"></textarea></td>
</tr>
<tr valign="top">
<tr align="right">
<td colspan="2"><input type="submit" name="OK" value="Envoyer"></td>
</tr>
</table>
</form>
</p>


{% include footer %}