{% include header %}


<h2>Les ballons alimentés à l'énergie solaire</h2>
<p>Le ballon solaire est fabriqué à partir d'un mince film de plastique noir. On le remplit d'air par beau temps, et le soleil chauffe l'air à l'intérieur du ballon. L'air chaud étant plus léger que l'air froid, le ballon commence à monter.</p>
<img src="/static/img1_rs.jpg">
<p>Les ballons solaires peuvent être fabriqués à partir de sacs poubelle ordinaires. On les assemble avec du ruban adhésif,  généralement sous forme de <a href="http://fr.wikipedia.org/wiki/Tétraèdre">tétraèdre</a>; cette forme permet de retenir suffisament d'air, et limite le nombre de pièces à coller.</p>
<img src="/static/img3_rs.jpg">
<p>Les ballons solaires peuvent s'élever à plus de 20 000 mètres d'altitude, et rester en l'air aussi longtemps que le soleil les chauffe. Pour connaître la distance qu'un ballon peut parcourir en un jour, nous y avons attaché une carte postale mentionnant la date et le lieu du lancement.</p>
<p><a href="/{{ lang }}/found">Si vous avez trouvé l'un de nos ballons, merci de nous faire savoir où et quand il a atterri!</a></p>
<img src="/static/img2_rs.jpg">

{% include footer %}